body {
   background-color: #FFF5EE;
   font-size: 30px;
   font-family: 'Courier New';
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    height: 99%;
    width: 99%;
    gap: 100px;
    text-align: center;
}

button {
    border: solid 5px #000000;
    background-color: inherit;
    box-shadow: 0 9px #999;
}

button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

img {
    width: 150px;
    height: 150px;
}

#score-counters {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
