body {
   background-color: #FFF5EE;
   font-size: 30px;
   font-family: 'Courier New';
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    height: 99%;
    width: 99%;
    gap: 25px;
    text-align: center;
}

button {
    border: solid 5px #000000;
    background-color: inherit;
}

img {
    width: 150px;
    height: 150px;
}